<div class="container-relatorio">
  <mat-form-field>
      <mat-label>Filtrar</mat-label>
      <input class="input-filtro" matInput (keyup)="filtrar($event)" placeholder="" #input>
  </mat-form-field>
  
  <div class="mat-elevation-z8">
    <table mat-table [dataSource]="dataSource" matSort>
  
        <ng-container matColumnDef="albumId" class="colPq">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Álbum </th>
            <td mat-cell *matCellDef="let dados"> {{dados.albumId}} </td>
        </ng-container>
     
      <ng-container matColumnDef="id" class="colPq">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Código </th>
        <td mat-cell *matCellDef="let dados"> {{dados.id}} </td>
      </ng-container>
  
      <ng-container matColumnDef="title" class="colGr">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Produto </th>
        <td mat-cell *matCellDef="let dados"> 
          <mat-icon (click)="acessarProduto(dados.id)">
            <span class="material-symbols-outlined">zoom_in</span>
          </mat-icon>
          {{dados.title}} 
        </td>
      </ng-container>
  
      <ng-container matColumnDef="url" class="colGr">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> URL </th>
        <td mat-cell *matCellDef="let dados"> {{dados.url}} </td>
      </ng-container>
  
      <ng-container matColumnDef="thumbnailUrl"  class="colPq">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Imagem </th>
        <td mat-cell *matCellDef="let dados"><img width="60px" height="60px" src="{{dados.thumbnailUrl}}"> </td>
      </ng-container>

      <ng-container matColumnDef="adicionar"  class="colPq">
        <th mat-header-cell *matHeaderCellDef> Adicionar</th>
        <td mat-cell *matCellDef="let dados"> 
          <button mat-mini-fab color="primary" aria-label="Adicionar ao carrinho" (click)="adicionar(dados.id,dados.title,dados.url)">
            <mat-icon>plus_one</mat-icon>
          </button>
        </td>
      </ng-container>
  
      <tr mat-header-row *matHeaderRowDef="colunasMostradas"></tr>
      <tr mat-row *matRowDef="let row; columns: colunasMostradas;"></tr>
  
      <tr class="mat-row" *matNoDataRow>
        <td class="mat-cell" colspan="4">Nenhum dado encontrado com o filtro "{{input.value}}"</td>
      </tr>
    </table>
  
    <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Select page of users"></mat-paginator>
  </div>
</div>