.container{
    margin: 12x;
    
}
.titulo{
    font-size: 18px;
    font-weight: bold;
    padding: 10px;
}

.foto{
    padding: 10px;
    text-align: center;
}

.comenta{
    //border: solid 1px black;
    padding: 10px;
}